body {
  background-color: #F2F2F4;
  padding: 0;
  margin: 0;
  font-family: 'helvetica';
  font-weight: 400;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(circle, #008097, #003851);
}
.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadein 1s;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dna-text {
  position: absolute;
  bottom: 53px;
  width: 246px;
  right: 50px;
  text-align: right;
  border-right: 1px solid rgba(255, 255, 255, 0.38);
  padding-right: 29px;
  padding-top: 20px;
}
.dna-text::before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: -10px;
  right: -6px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.46);
}
.dna-text span.header {
  font-size: 13px !important;
  font-weight: 600 !important;
  opacity: 0.8 !important;
  font-family: "prometo", 'helvetica';
  width: auto !important;
}
.dna-text p {
  font-size: 11px;
  opacity: 0.5;
  line-height: 15px;
}
.dna-animation {
  opacity: 0.5;
}
.dna {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
  perspective: 100em;
  transform-style: preserve-3d;
  transform: translate3d(500px, -400px, 0px) rotate(-50deg);
}
.dna .protein {
  margin: 0 40px 40px;
  width: 196px;
  height: 1px;
  color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;
  animation: rot 8s linear infinite;
  position: relative;
}
.dna .protein:nth-of-type(50) {
  animation-delay: 2.5s;
  background: linear-gradient(to right, #acce4c 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(49) {
  animation-delay: 2.25s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(48) {
  animation-delay: 2s;
  background: linear-gradient(to right, #acce4c 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(47) {
  animation-delay: 1.75s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(46) {
  animation-delay: 1.5s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(45) {
  animation-delay: 1.25s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(44) {
  animation-delay: 1s;
  background: linear-gradient(to right, #4eceb9 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(43) {
  animation-delay: 0.75s;
  background: linear-gradient(to right, #00ff00 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(42) {
  animation-delay: 0.5s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(41) {
  animation-delay: 0.25s;
  background: linear-gradient(to right, #0dc9ed 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(40) {
  animation-delay: 0s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(39) {
  animation-delay: -0.25s;
  background: linear-gradient(to right, #00ff00 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(38) {
  animation-delay: -0.5s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(37) {
  animation-delay: -0.75s;
  background: linear-gradient(to right, #4eceb9 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(36) {
  animation-delay: -1s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(35) {
  animation-delay: -1.25s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(34) {
  animation-delay: -1.5s;
  background: linear-gradient(to right, #acce4c 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(33) {
  animation-delay: -1.75s;
  background: linear-gradient(to right, #0dc9ed 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(32) {
  animation-delay: -2s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(31) {
  animation-delay: -2.25s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(30) {
  animation-delay: -2.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(29) {
  animation-delay: -2.75s;
  background: linear-gradient(to right, #acce4c 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(28) {
  animation-delay: -3s;
  background: linear-gradient(to right, #4eceb9 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(27) {
  animation-delay: -3.25s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(26) {
  animation-delay: -3.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(25) {
  animation-delay: -3.75s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(24) {
  animation-delay: -4s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(23) {
  animation-delay: -4.25s;
  background: linear-gradient(to right, #0dc9ed 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(22) {
  animation-delay: -4.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(21) {
  animation-delay: -4.75s;
  background: linear-gradient(to right, #00ff00 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(20) {
  animation-delay: -5s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(19) {
  animation-delay: -5.25s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(18) {
  animation-delay: -5.5s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(17) {
  animation-delay: -5.75s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(16) {
  animation-delay: -6s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(15) {
  animation-delay: -6.25s;
  background: linear-gradient(to right, #acce4c 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(14) {
  animation-delay: -6.5s;
  background: linear-gradient(to right, #4eceb9 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(13) {
  animation-delay: -6.75s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(12) {
  animation-delay: -7s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type(11) {
  animation-delay: -7.25s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(10) {
  animation-delay: -7.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(9) {
  animation-delay: -7.75s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(8) {
  animation-delay: -8s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(7) {
  animation-delay: -8.25s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(6) {
  animation-delay: -8.5s;
  background: linear-gradient(to right, #4eceb9 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type(5) {
  animation-delay: -8.75s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(4) {
  animation-delay: -9s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type(3) {
  animation-delay: -9.25s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(2) {
  animation-delay: -9.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #00ff00 50%);
}
.dna .protein:nth-of-type(1) {
  animation-delay: -9.75s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein b {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #00ff4a;
  transform-origin: 0 center;
  position: absolute;
  top: -5px;
  left: -2px;
  transform-style: flat;
}
.dna .protein b::before {
  content: '';
  width: 1px;
  height: 30px;
  left: 5px;
  top: 0;
  background-image: linear-gradient(white, rgba(255, 255, 255, 0));
  position: absolute;
  display: block;
}
.dna .protein b:nth-of-type(2) {
  left: auto;
  right: -2px;
  background-color: white;
}
.dna .protein:last-child b {
  display: none;
}
@keyframes rot {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
h1 {
  font-size: 42px;
  letter-spacing: 1.12px;
  line-height: 45px;
  font-weight: 100;
  margin: 0;
  font-family: "prometo", 'helvetica';
}
h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  font-family: "prometo", 'helvetica';
}
h4 {
  font-size: 20px;
  font-weight: 100;
}
.center {
  text-align: center;
}
.white {
  color: white;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
}
span.subtext {
  width: 600px;
  display: block;
  margin-top: 13px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.6;
}
p {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
}
button {
  display: block;
  background: #509410;
  width: 200px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 16px;
}
button:hover {
  transform: scale(0.9);
}
.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.17);
  margin: 0px 25px;
}
@-webkit-keyframes SlideInDown {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 1100px;
  box-sizing: border-box;
  padding: 0px 50px;
  margin: auto;
}
.container.white-bg {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.17);
}
.container.dark-bg {
  background: rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.17);
}
.logo {
  width: 160px;
  height: 42px;
  background: url('../files/logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: SlideInDown 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  position: absolute;
  top: 22px;
  left: 26px;
}
.footer {
  color: black;
  width: 100%;
  z-index: 2;
}
.footer .header-wrap {
  display: flex;
  justify-content: center;
}
.footer .container {
  align-items: center;
  padding: 10px 20px;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
  width: 1000px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.footer .logo {
  width: 160px;
  height: 42px;
  background: url('../files/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
}
.footer .menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.footer a {
  margin-left: 30px;
  color: black;
}
.wrapper {
  background: #F1F1F3;
}
#intro {
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  color: ;
  overflow: hidden;
  position: relative;
  text-align: left;
  color: white;
}
#intro .container {
  flex-direction: column;
  padding-top: 100px;
}
#intro .content h1 {
  animation: SlideInDown 1s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
#intro .content .wrap {
  animation: SlideInDown 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
#intro .features {
  padding-top: 60px;
  display: flex;
}
.products-link {
  position: absolute;
  bottom: 50px;
  animation: SlideInDown 1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
  font-family: "prometo", 'helvetica';
}
.products-link::before {
  content: '';
  width: 30px;
  height: 20px;
  display: block;
  background: url('../files/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  opacity: 0.2;
  margin-right: 10px;
}
#products {
  height: 700px;
  text-align: center;
}
#products span.subtext {
  margin: auto;
  padding-top: 30px;
}
#products .container {
  padding-top: 160px;
  padding-bottom: 115px;
}
#products h3 {
  flex: 100%;
  font-weight: 400;
}
#products span {
  width: 700px;
  display: block;
}
#products .features {
  margin: auto;
  width: 773px;
  padding-top: 100px;
}
#products .feature {
  text-align: center;
  padding-right: 20px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.18);
}
#products .feature img {
  width: 60px;
  opacity: 0.7;
  padding-bottom: 28px;
}
#products .feature.first {
  animation: SlideInDown 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
#products .feature.second {
  padding-left: 40px;
  animation: SlideInDown 1s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
#products .feature.third {
  padding-left: 40px;
  animation: SlideInDown 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
#products .feature p {
  opacity: 0.6;
  margin-top: 3px;
}
#products-slider {
  min-height: 700px;
  width: 100%;
  position: relative;
  display: block;
  transition: 0.3s ease;
}
#products-slider .container {
  text-align: center;
}
#products-slider span.subtext {
  margin: auto;
}
.bg-1 {
  background: #9F4E08;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.3s ease;
}
.bg-2 {
  background: #169E99;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.3s ease;
}
.nav {
  width: 50px;
  height: 200px;
  background: black;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  position: absolute;
  transition: 0.3s ease;
}
.nav::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: url('../files/arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}
.nav.next {
  right: 0;
}
.nav.prev {
  left: 0;
}
.nav.prev::before {
  transform: rotate(90deg);
}
.product {
  width: 100vw;
  height: 700px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 1;
  color: white;
  padding-top: 100px;
  transition: 1s cubic-bezier(0.85, 0.13, 0.1, 0.99);
}
#slider {
  width: 48.4vw;
  height: 28.5vw;
  float: left;
  margin-top: 10vw;
  position: relative;
}
#slider img {
  width: 100%;
}
#slider .wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.info {
  width: 300px;
  float: left;
  padding-top: 100px;
  padding-left: 77px;
}
.info .navigation a {
  line-height: 40px;
  display: block;
  font-size: 20px;
  opacity: 0.5;
}
.info .navigation a.active {
  opacity: 1;
}
.info p {
  font-size: 18px;
  line-height: 25px;
  border-left: 1px solid white;
  padding-left: 20px;
  position: absolute;
  width: 300px;
  transition: 0.3s ease;
}
.info button {
  position: absolute;
  bottom: 100px;
}
.laptop {
  width: 70vw;
  height: 40vw;
  position: absolute;
  background-image: url('../files/laptop-full.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: -4.5vw;
  left: -11vw;
}
.product#edulastic #slider {
  float: right;
}
.product#edulastic .info {
  padding-right: 90px;
  float: right;
  text-align: right;
}
.product#edulastic p {
  border-right: 1px solid white;
  border-left: none;
  text-align: right;
  padding-right: 20px;
}
.slide {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.3s ease;
}
.slide#orion1 {
  background-image: url('/files/products/orion1.jpg');
}
.slide#orion2 {
  background-image: url('/files/products/orion2.png');
}
.slide#orion3 {
  background-image: url('/files/products/orion3.png');
}
.slide#edulastic1 {
  background-image: url('/files/products/edulastic3.png');
}
.slide#edulastic2 {
  background-image: url('/files/products/edulastic2.png');
}
.slide#edulastic3 {
  background-image: url('/files/products/edulastic1.gif');
}
#slider.slide1 #orion1,
#slider.slide1 #edulastic1 {
  transform: translateX(0);
}
#slider.slide1 #orion2,
#slider.slide1 #edulastic2 {
  transform: translateX(50vw);
}
#slider.slide1 #orion3,
#slider.slide1 #edulastic3 {
  transform: translateX(100vw);
}
#slider.slide2 #orion1,
#slider.slide2 #edulastic1 {
  transform: translateX(-50vw);
}
#slider.slide2 #orion2,
#slider.slide2 #edulastic2 {
  transform: translateX(0);
}
#slider.slide2 #orion3,
#slider.slide2 #edulastic3 {
  transform: translateX(50vw);
}
#slider.slide3 #orion1,
#slider.slide3 #edulastic1 {
  transform: translateX(-100vw);
}
#slider.slide3 #orion2,
#slider.slide3 #edulastic2 {
  transform: translateX(-50vw);
}
#slider.slide3 #orion3,
#slider.slide3 #edulastic3 {
  transform: translateX(0vw);
}
#description.slide1 p#orion-text1,
#description.slide1 #edulastic-text1 {
  transform: translateX(0px);
  opacity: 1;
}
#description.slide1 p#orion-text2,
#description.slide1 #edulastic-text2 {
  transform: translateX(300px);
  opacity: 0;
}
#description.slide1 p#orion-text3,
#description.slide1 #edulastic-text3 {
  transform: translateX(600px);
  opacity: 0;
}
#description.slide2 p#orion-text1,
#description.slide2 #edulastic-text1 {
  transform: translateX(-300px);
  opacity: 0;
}
#description.slide2 p#orion-text2,
#description.slide2 #edulastic-text2 {
  transform: translateX(0px);
  opacity: 1;
}
#description.slide2 p#orion-text3,
#description.slide2 #edulastic-text3 {
  transform: translateX(300px);
  opacity: 0;
}
#description.slide3 p#orion-text1,
#description.slide3 #edulastic-text1 {
  transform: translateX(-600px);
  opacity: 0;
}
#description.slide3 p#orion-text2,
#description.slide3 #edulastic-text2 {
  transform: translateX(-300px);
  opacity: 0;
}
#description.slide3 p#orion-text3,
#description.slide3 #edulastic-text3 {
  transform: translateX(0px);
  opacity: 1;
}
#products-slider.state1 .product#orion {
  transform: translateX(0);
}
#products-slider.state1 .product#edulastic {
  transform: translateX(110vw);
}
#products-slider.state1 .nav.prev {
  transform: translateX(-50px);
}
#products-slider.state1 .nav.next {
  transform: translateX(0px);
}
#products-slider.state1 .bg-1 {
  opacity: 1;
}
#products-slider.state1 .bg-2 {
  opacity: 0;
}
#products-slider.state2 .product#orion {
  transform: translateX(-110vw);
}
#products-slider.state2 .product#edulastic {
  transform: translateX(0);
}
#products-slider.state2 .nav.prev {
  transform: translateX(0px);
}
#products-slider.state2 .nav.next {
  transform: translateX(50px);
}
#products-slider.state2 .bg-1 {
  opacity: 0;
}
#products-slider.state2 .bg-2 {
  opacity: 1;
}
#partners {
  padding-top: 100px;
  padding-bottom: 100px;
}
#partners h1 {
  width: 100%;
  text-align: center;
}
#partners .container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
#partners .container .line {
  width: 160px;
}
#partners .container .logos {
  width: 100%;
  height: 200px;
}
#partners .container .partner {
  width: 25%;
  height: 200px;
  float: left;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  opacity: 0.7;
  transition: 0.3s ease;
}
#partners .container .partner:hover {
  transform: scale(1.1);
  opacity: 1;
}
#partners .container #willey {
  background-image: url('../files/partners/wiley.png');
}
#partners .container #barrons {
  background-image: url('../files/partners/barrons.png');
}
#partners .container #dummies {
  background-image: url('../files/partners/dummies.png');
}
#partners .container #mcgraw {
  background-image: url('../files/partners/mcgraw.png');
  background-size: 60px;
}
#company {
  padding-top: 150px;
  height: 600px;
}
#company .container {
  display: block;
  position: relative;
  overflow: hidden;
}
#company p {
  width: 400px;
  display: block;
  float: left;
}
#company img {
  width: 635px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
#jobs {
  padding-top: 100px;
}
#jobs h1 {
  width: 100%;
  text-align: center;
}
#jobs .container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 150px;
}
#jobs .line {
  width: 160px;
}
#jobs ul {
  display: block;
  width: 100%;
  height: 250px;
  font-size: 16px;
  line-height: 33px;
  padding-left: 20px;
  text-align: center;
  list-style-type: none;
  padding-top: 22px;
  font-weight: 100;
}
#jobs button {
  color: white;
  left: 0;
  right: 0;
  margin: auto;
}
