body {
  background-color: #F2F2F4;
  padding: 0;
  margin: 0;
  font-family: 'helvetica';
  font-weight: 400;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(circle, #009091, #064460);
}
.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadein 1s;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dna-text {
  position: absolute;
  bottom: 53px;
  width: 246px;
  right: 50px;
  text-align: right;
  border-right: 1px solid rgba(255, 255, 255, 0.38);
  padding-right: 29px;
  padding-top: 20px;
}
.dna-text::before {
  content: '';
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: -10px;
  right: -6px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.46);
}
.dna-text span.header {
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
}
.dna-text p {
  font-size: 11px;
  opacity: 0.5;
  line-height: 15px;
}
.dna-animation {
  opacity: 0.5;
}
.dna {
  width: 200px;
  margin: 0 auto;
  padding: 1em;
  perspective: 100em;
  transform-style: preserve-3d;
  transform: translate3d(500px, -400px, 0px) rotate(-50deg);
}
.dna .protein {
  margin: 0 40px 40px;
  width: 196px;
  height: 1px;
  color: rgba(0, 0, 0, 0);
  transform-style: preserve-3d;
  animation: rot 8s linear infinite;
  position: relative;
}
.dna .protein:nth-of-type( 50) {
  animation-delay: 2.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 49) {
  animation-delay: 2.25s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 48) {
  animation-delay: 2s;
  background: linear-gradient(to right, #acce4c 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 47) {
  animation-delay: 1.75s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 46) {
  animation-delay: 1.5s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 45) {
  animation-delay: 1.25s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 44) {
  animation-delay: 1s;
  background: linear-gradient(to right, #0dc9ed 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 43) {
  animation-delay: 0.75s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 42) {
  animation-delay: 0.5s;
  background: linear-gradient(to right, #acce4c 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 41) {
  animation-delay: 0.25s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 40) {
  animation-delay: 0s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 39) {
  animation-delay: -0.25s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 38) {
  animation-delay: -0.5s;
  background: linear-gradient(to right, #00ff00 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 37) {
  animation-delay: -0.75s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 36) {
  animation-delay: -1s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 35) {
  animation-delay: -1.25s;
  background: linear-gradient(to right, #4eceb9 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 34) {
  animation-delay: -1.5s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 33) {
  animation-delay: -1.75s;
  background: linear-gradient(to right, #4eceb9 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 32) {
  animation-delay: -2s;
  background: linear-gradient(to right, #0dc9ed 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 31) {
  animation-delay: -2.25s;
  background: linear-gradient(to right, #0dc9ed 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 30) {
  animation-delay: -2.5s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 29) {
  animation-delay: -2.75s;
  background: linear-gradient(to right, #acce4c 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 28) {
  animation-delay: -3s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 27) {
  animation-delay: -3.25s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 26) {
  animation-delay: -3.5s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 25) {
  animation-delay: -3.75s;
  background: linear-gradient(to right, #0dc9ed 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 24) {
  animation-delay: -4s;
  background: linear-gradient(to right, #00ff00 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 23) {
  animation-delay: -4.25s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 22) {
  animation-delay: -4.5s;
  background: linear-gradient(to right, #0dc9ed 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 21) {
  animation-delay: -4.75s;
  background: linear-gradient(to right, #0dc9ed 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 20) {
  animation-delay: -5s;
  background: linear-gradient(to right, #0dc9ed 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 19) {
  animation-delay: -5.25s;
  background: linear-gradient(to right, #0dc9ed 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 18) {
  animation-delay: -5.5s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 17) {
  animation-delay: -5.75s;
  background: linear-gradient(to right, #4eceb9 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 16) {
  animation-delay: -6s;
  background: linear-gradient(to right, #4eceb9 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 15) {
  animation-delay: -6.25s;
  background: linear-gradient(to right, #0dc9ed 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 14) {
  animation-delay: -6.5s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 13) {
  animation-delay: -6.75s;
  background: linear-gradient(to right, #00ff00 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 12) {
  animation-delay: -7s;
  background: linear-gradient(to right, #4eceb9 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 11) {
  animation-delay: -7.25s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 10) {
  animation-delay: -7.5s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 9) {
  animation-delay: -7.75s;
  background: linear-gradient(to right, #00ff00 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 8) {
  animation-delay: -8s;
  background: linear-gradient(to right, #4eceb9 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 7) {
  animation-delay: -8.25s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 6) {
  animation-delay: -8.5s;
  background: linear-gradient(to right, #00ff00 50%, #4eceb9 50%);
}
.dna .protein:nth-of-type( 5) {
  animation-delay: -8.75s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein:nth-of-type( 4) {
  animation-delay: -9s;
  background: linear-gradient(to right, #0dc9ed 50%, #0dc9ed 50%);
}
.dna .protein:nth-of-type( 3) {
  animation-delay: -9.25s;
  background: linear-gradient(to right, #acce4c 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 2) {
  animation-delay: -9.5s;
  background: linear-gradient(to right, #00ff00 50%, #00ff00 50%);
}
.dna .protein:nth-of-type( 1) {
  animation-delay: -9.75s;
  background: linear-gradient(to right, #acce4c 50%, #acce4c 50%);
}
.dna .protein b {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #00ff4a;
  transform-origin: 0 center;
  position: absolute;
  top: -5px;
  left: -2px;
}
.dna .protein b:nth-of-type(2) {
  left: auto;
  right: -2px;
  background-color: #ffffff;
}
.dna .protein:last-child b {
  display: none;
}
@keyframes rot {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
h1 {
  font-size: 42px;
  letter-spacing: 1.12px;
  line-height: 45px;
  font-weight: 100;
  margin: 0;
  font-family: "prometo";
}
h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  font-family: "prometo";
}
h4 {
  font-size: 20px;
  font-weight: 100;
}
.center {
  text-align: center;
}
.white {
  color: white;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
}
span.subdescription {
  font-size: 23px;
  letter-spacing: 0.2px;
  line-height: 30.39px;
  font-weight: 100;
  margin-top: 20px;
  max-width: 700px;
}
p {
  font-size: 14px;
  line-height: 19px;
}
.button {
  display: block;
  background: #509410;
  width: 200px;
  line-height: 60px;
  text-align: center;
  border-radius: 8px;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
}
.button:hover {
  transform: scale(0.9);
}
.line {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.17);
  margin: 0px 25px;
}
@-webkit-keyframes SlideInDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0px;
}
.container.white-bg {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.17);
}
.container.dark-bg {
  background: rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.17);
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
header .header-wrap {
  display: flex;
  justify-content: center;
}
header .container {
  align-items: center;
  padding: 10px 20px;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}
header .logo {
  width: 160px;
  height: 42px;
  background: url('/files/logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header .menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
header a {
  margin-left: 30px;
  color: white;
}
.wrapper {
  background: #F1F1F3;
}
#intro {
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  color: white;
  overflow: hidden;
  position: relative;
  text-align: left;
}
#intro .container {
  flex-direction: column;
  padding-top: 100px;
}
#intro .content {
  animation: SlideInDown 1s;
}
#intro span.subdescription {
  opacity: 0.5;
}
#intro .features {
  padding-top: 60px;
  display: flex;
}
.products-link {
  position: absolute;
  bottom: 50px;
  font-size: 20;
  animation: SlideInDown 1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}
.products-link::before {
  content: '';
  width: 30px;
  height: 20px;
  display: block;
  background: url('/files/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  opacity: 0.2;
  margin-right: 10px;
}
.feature {
  text-align: left;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.18);
}
.feature img {
  width: 60px;
  opacity: 0.7;
  padding-bottom: 28px;
}
.feature.first {
  animation: SlideInDown 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}
.feature.second {
  padding-left: 40px;
  animation: SlideInDown 1s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
.feature.third {
  padding-left: 40px;
  animation: SlideInDown 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.feature p {
  opacity: 0.6;
}
#products .container {
  display: flex;
  justify-content: flex-start;
  padding-top: 100px;
  padding-bottom: 115px;
}
#products h3 {
  flex: 100%;
  font-weight: 400;
}
#products-slider1 {
  background: #17233D;
  background-size: 100%;
  margin-top: 80px;
  height: 650px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#products-slider1 .container {
  padding: 0px 20px;
}
.product {
  color: white;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 650px;
  transition: 0.7s cubic-bezier(0.66, 0.13, 0.12, 0.99);
}
.product .container {
  padding-top: 0;
}
.product .info {
  width: 260px;
  padding: 120px 20px;
}
.product .info span {
  opacity: 0.3;
  font-size: 20px;
  font-weight: 300;
  line-height: 22.39px;
}
.product .info hr {
  border: 0;
  height: 1px;
  background: white;
  opacity: 0.1;
  margin: 23px 0;
  width: 240px;
}
.product .info a {
  height: 60px;
  font-size: 20px;
  opacity: 0.5;
  display: block;
  transition: 0.3s ease;
  line-height: 20px;
}
.product .info a::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  border: 2px solid white;
  float: left;
  margin-right: 10px;
}
.product .info a:hover {
  opacity: 1;
}
.product .info a.active {
  opacity: 1;
}
.product .info a.active::before {
  background: white;
}
#orion {
  background: #393939;
}
#edulastic {
  background: #515252;
}
.slider {
  width: 681px;
  height: 550px;
  position: relative;
  overflow: hidden;
  padding-top: 88px;
}
.slider #slide-wrapper {
  transition: 0.3s ease;
}
.slider #slide-wrapper2 {
  transition: 0.3s ease;
}
.slider .slide1 {
  transform: translate3d(0px, 0px, 0px);
}
.slider .slide2 {
  transform: translate3d(0px, -550px, 0px);
}
.slider .slide3 {
  transform: translate3d(0px, -1140px, 0px);
}
.slider .slide {
  height: 100%;
}
.slider .slide img {
  width: 600px;
  display: block;
  border-radius: 8px;
}
#partners {
  padding-top: 100px;
}
#partners .container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
#partners .container .line {
  width: 160px;
}
#partners .container .logos {
  width: 100%;
  height: 200px;
}
#partners .container .partner {
  width: 25%;
  height: 200px;
  float: left;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  opacity: 0.7;
  transition: 0.3s ease;
}
#partners .container .partner:hover {
  transform: scale(1.1);
  opacity: 1;
}
#partners .container #willey {
  background-image: url('/files/partners/wiley.png');
}
#partners .container #barrons {
  background-image: url('/files/partners/barrons.png');
}
#partners .container #dummies {
  background-image: url('/files/partners/dummies.png');
}
#partners .container #mcgraw {
  background-image: url('/files/partners/mcgraw.png');
  background-size: 60px;
}
#company .container {
  display: block;
  position: relative;
  overflow: hidden;
}
#company p {
  width: 400px;
  display: block;
  float: left;
}
#company img {
  width: 635px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
#jobs {
  padding-top: 100px;
}
#jobs .container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding-top: 50px;
  padding-bottom: 150px;
}
#jobs .line {
  width: 160px;
}
#jobs ul {
  display: block;
  width: 100%;
  height: 300px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  list-style: none;
}
#jobs .button {
  color: white;
}
