body{
  background-color: #F2F2F4;
  padding: 0;
  margin: 0;
  font-family: 'helvetica';
  font-weight: 400;
  letter-spacing: 0.4px;
  -webkit-font-smoothing: antialiased;
}

.background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: radial-gradient(circle, #008097, #003851);
  //background-image: url('/files/pattern.png'), radial-gradient(circle, #019596, #065660);
}

@import "dna.less";

////Fonts

h1{
  font-size: 42px;
  letter-spacing: 1.12px;
  line-height: 45px;
  font-weight: 100;
  margin: 0;
  font-family: "prometo", 'helvetica';
}


h3{
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  font-family: "prometo", 'helvetica';
}

h4{
  font-size: 20px;
  font-weight: 100;
}

.center{
  text-align: center;
}

.white{
  color: white;
}

canvas{
  position: absolute;
  left: 0;
  top: 0;
}

span.subtext{
  width: 600px;
  display: block;
  margin-top: 13px;
  line-height: 26px;
  font-size: 20px;
  font-weight: 300;
  opacity: 0.6;
}

p{
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.7px;
}

button{
  display: block;
  background: #509410;
  width: 200px;
  line-height: 50px;
  text-align: center;
  border-radius: 8px;
  font-weight: 400;
  transition: 0.3s ease;
  cursor: pointer;
  border: 0;
  color: white;
  font-size: 16px;
  &:hover{transform: scale(0.9);}
}


////Elements

.line{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.17);
  margin: 0px 25px;
}


///Animations

@-webkit-keyframes SlideInDown{
	0%   { transform: translateY(20px); opacity: 0;}
	100% { transform: translateY(0px); opacity: 1;}
}


////Layout

section{
  width: 100%;
  display: flex;
  justify-content:center;
}

.container{
  width: 1100px;
  box-sizing: border-box;
  padding: 0px 50px;
  margin: auto;

  &.white-bg{
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.17);
  }
  &.dark-bg{
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.17);
  }
}

.logo{
  width: 160px;
  height: 42px;
  background: url('../files/logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: SlideInDown 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  position: absolute;
  top: 22px;
  left: 26px;
}

.footer{
  color: black;
  width: 100%;
  z-index: 2;
  .header-wrap{
    display: flex;
    justify-content: center;
  }
  .container{
    align-items: center;
    padding: 10px 20px;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    width: 1000px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

  }
  .logo{
    width: 160px;
    height: 42px;
    background: url('../files/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
  }
  .menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  a{
    margin-left: 30px;
    color: black;
  }
}


.wrapper{
  background: #F1F1F3;
  //background-image: url('/files/pattern.png');
  //background-size: 300px;
}





#intro{
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  color: ;
  overflow: hidden;
  position: relative;
  text-align: left;
  color: white;
  .container{
    flex-direction: column;
    padding-top: 100px;
  }
  .content{
    h1{
      animation: SlideInDown 1s;
      animation-delay: 0.1s;
      animation-fill-mode: both;
    }

    .wrap{
      animation: SlideInDown 1s;
      animation-delay: 0.3s;
      animation-fill-mode: both;
    }
  }
  .features{
    padding-top: 60px;
    display: flex;
  }
}




.products-link{
  position: absolute;
  bottom: 50px;
  animation: SlideInDown 1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
  font-family: "prometo", 'helvetica';

  &::before{
    content: '';
    width: 30px;
    height: 20px;
    display: block;
    background: url('../files/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    opacity: 0.2;
    margin-right: 10px;
  }
}






#products{
  height: 700px;
  text-align: center;

  span.subtext{
    margin: auto;
    padding-top: 30px;
  }
  .container{
    padding-top: 160px;
    padding-bottom: 115px;
  }

  h3{
    flex: 100%;
    font-weight: 400;
  }
  span{
    width: 700px;
    display: block;
  }

  .features{
    margin: auto;
    width: 773px;
    padding-top: 100px;
  }
  .feature{
    text-align: center;
    padding-right: 20px;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.18);

    img{
      width: 60px;
      opacity: 0.7;
      padding-bottom: 28px;
    }

    &.first{
      animation: SlideInDown 1s;
      animation-delay: 0.3s;
      animation-fill-mode: both;
    }

    &.second{
      padding-left: 40px;
      animation: SlideInDown 1s;
      animation-delay: 0.4s;
      animation-fill-mode: both;
    }

    &.third{
      padding-left: 40px;
      animation: SlideInDown 1s;
      animation-delay: 0.5s;
      animation-fill-mode: both;
    }

    p{
      opacity: 0.6;
      margin-top: 3px;
    }
  }
}


#products-slider{
  min-height: 700px;
  width: 100%;
  position: relative;
  display: block;
  transition: 0.3s ease;

  .container{text-align: center;}
  span.subtext{margin: auto;}
}

.bg-1{
  background: #9F4E08;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.3s ease;
}

.bg-2{
  background: #169E99;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  transition: 0.3s ease;
}

.nav{
  width: 50px;
  height: 200px;
  background: black;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  position: absolute;
  transition: 0.3s ease;
  &::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('../files/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
  }

  &.next{right: 0;}
  &.prev{left: 0; &::before{transform: rotate(90deg)}}
}

.product{
  width: 100vw;
  height: 700px;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 1;
  color: white;
  padding-top: 100px;
  transition: 1s cubic-bezier(0.85, 0.13, 0.1, 0.99);

  span{}
}

#slider{
  width: 48.4vw;
  height: 28.5vw;
  float: left;
  margin-top: 10vw;
  position: relative;

  img{
    width: 100%;
  }

  .wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}

.info{
  width: 300px;
  float: left;
  padding-top: 100px;
  padding-left: 77px;

  .navigation{
   a{
     line-height: 40px;
     display: block;
     font-size: 20px;
     opacity: 0.5;
     &.active{opacity: 1;}
   }
  }

  p{
    font-size: 18px;
    line-height: 25px;
    border-left: 1px solid white;
    padding-left: 20px;
    position: absolute;
    width: 300px;
    transition: 0.3s ease;
  }

  button{
    position: absolute;
    bottom: 100px;
  }
}

.laptop{
  width: 70vw;
  height: 40vw;
  position: absolute;
  background-image: url('../files/laptop-full.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: -4.5vw;
  left: -11vw;
}

.product#edulastic{
  #slider{
    float: right;
  }

  .info{
    padding-right: 90px;
    float: right;
    text-align: right;
  }

  p{
    border-right: 1px solid white;
    border-left: none;
    text-align: right;
    padding-right: 20px;
  }
}


.slide{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.3s ease;

  &#orion1{background-image: url('../files/products/orion1.jpg');}
  &#orion2{background-image: url('../files/products/orion2.png');}
  &#orion3{background-image: url('../files/products/orion3.png');}
  &#edulastic1{background-image: url('../files/products/edulastic3.png');}
  &#edulastic2{background-image: url('../files/products/edulastic2.png');}
  &#edulastic3{background-image: url('../files/products/edulastic1.gif');}
}

#slider.slide1{
  #orion1, #edulastic1{transform: translateX(0);}
  #orion2, #edulastic2{transform: translateX(50vw);}
  #orion3, #edulastic3{transform: translateX(100vw);}
}

#slider.slide2{
  #orion1, #edulastic1{transform: translateX(-50vw);}
  #orion2, #edulastic2{transform: translateX(0);}
  #orion3, #edulastic3{transform: translateX(50vw);}
}

#slider.slide3{
  #orion1, #edulastic1{transform: translateX(-100vw);}
  #orion2, #edulastic2{transform: translateX(-50vw);}
  #orion3, #edulastic3{transform: translateX(0vw);}
}

#description.slide1{
  p#orion-text1, #edulastic-text1{transform: translateX(0px); opacity: 1}
  p#orion-text2, #edulastic-text2{transform: translateX(300px); opacity: 0}
  p#orion-text3, #edulastic-text3{transform: translateX(600px); opacity: 0}
}

#description.slide2{
  p#orion-text1, #edulastic-text1{transform: translateX(-300px); opacity: 0}
  p#orion-text2, #edulastic-text2{transform: translateX(0px); opacity: 1}
  p#orion-text3, #edulastic-text3{transform: translateX(300px); opacity: 0}
}

#description.slide3{
  p#orion-text1, #edulastic-text1{transform: translateX(-600px); opacity: 0}
  p#orion-text2, #edulastic-text2{transform: translateX(-300px); opacity: 0}
  p#orion-text3, #edulastic-text3{transform: translateX(0px); opacity: 1}
}


#products-slider.state1{
  .product#orion{transform: translateX(0);}
  .product#edulastic{transform: translateX(110vw);}
  .nav.prev{transform: translateX(-50px);}
  .nav.next{transform: translateX(0px);}
  .bg-1{opacity: 1;}
  .bg-2{opacity: 0;}
}
#products-slider.state2{
  .product#orion{transform: translateX(-110vw);}
  .product#edulastic{transform: translateX(0);}
  .nav.prev{transform: translateX(0px);}
  .nav.next{transform: translateX(50px);}
  .bg-1{opacity: 0;}
  .bg-2{opacity: 1;}
}





#partners{
    padding-top: 100px;
    padding-bottom: 100px;
    h1{
      width: 100%;
      text-align: center;
    }
    .container{
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      .line{width: 160px;}

      .logos{
        width: 100%;
        height: 200px;
      }

      .partner{
        width: 25%;
        height: 200px;
        float: left;
        background-repeat: no-repeat;
        background-size: 150px;
        background-position: center;
        opacity: 0.7;
        transition: 0.3s ease;
        &:hover{transform: scale(1.1); opacity: 1;}
      }

      #willey{background-image: url('../files/partners/wiley.png')}
      #barrons{background-image: url('../files/partners/barrons.png')}
      #dummies{background-image: url('../files/partners/dummies.png')}
      #mcgraw{background-image: url('../files/partners/mcgraw.png'); background-size: 60px;}
  }
}

#company{
  padding-top: 150px;
  height: 600px;
  .container{
    display: block;
    position: relative;
    overflow: hidden;
  }

  p{
    width: 400px;
    display: block;
    float: left;
  }

  img{
    width: 635px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
  }
}

#jobs{
  padding-top: 100px;
  h1{
    width: 100%;
    text-align: center;
  }
  .container{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 50px;
    padding-bottom: 150px;
  }
  .line{width: 160px;}

  ul{
    display: block;
    width: 100%;
    height: 250px;
    font-size: 16px;
    line-height: 33px;
    padding-left: 20px;
    text-align: center;
    list-style-type: none;
    padding-top: 22px;
    font-weight: 100;
  }

  button{
    color: white;
    left: 0;
    right: 0;
    margin: auto;
  }
}
