head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=0.4')
  title Project    
  script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
  script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')
  script(src='js/index.js')
  script(src="https://use.typekit.net/qkh7oqo.js")
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-6168218-1', 'auto');
    ga('send', 'pageview');

  script.
    try{Typekit.load({ async: true });}catch(e){}
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet prefetch', href='css/timeline.css')


body

  .background
  section#intro
    .container
      .logo
      .animation
        .dna-text
          span.header Deoxyribonucleic acid (DNA)
          p Molecule that contain all genetic data of organism. Each living thing has its own unique database. Human DNA is 2 meters long and it contains 800mb of data 
        .dna-animation.parallax-scroll-8
          .dna
            - var n = 0
            while n < 50
              .protein= n++
                b
                b
                
              
      .content
        h1 Personalized Learning <br>Powered by Science
        .wrap
          span.subtext We're develop and implement tools that evolve educational methods. Based on user understanding and communication. Powered by machine learning and data science.
      
          
      h3.products-link Our products
  .wrapper      
            
    section#products
      .container
        h1 Our Products
        span.subtext Snapwiz learning platforms help K-20 educators deliver personalized instruction, gauge student understanding and communicate more effectively with students and parents.
        .features
          .feature.first
            //img(src="/files/inspired.svg")
            h3 K-20
            p When material is relevant, <br>students pursue learning.
          
          .feature.second
            //img(src="/files/intelligent.svg")
            h3 University
            p Sophisticated algorithms pinpoint <br> the right areas of focus
            
          .feature.third(style="border: none;")
            //img(src="/files/impactfull.svg")
            h3 Professional
            p Building upon prior knowledge <br>supports retention    
    section#products-slider.state1
      .nav.next
      .nav.prev
      .bg-1
      .bg-2
      .slide-wrapper
        .product#orion
          .container
            .info
              h1 Learning spaces
              span Helps K-20 educators deliver personalized instruction, gauge student understanding and communicate more effectively with students and parents.
              .navigation      
                a 
                  h3#bullet1.active Intuitive Analytics
                a 
                  h3#bullet2 Interactive eTextbooks          
                a 
                  h3#bullet3 360° Collaboration
                
              button(onclick="ga('send', 'event', { eventCategory: 'Learn More Button', eventAction: 'Click', eventLabel: 'LS Learn More Button'});") Learn more
              
            .slider
              .laptop
              #slide-wrapper
                .slide#orion1
                  img(src='./files/products/orion1.jpg')
                  p Instructors see real-time performance data. An instant overview of student progress and proficiency helps pinpoint areas of strength and areas of concern.         

                .slide#orion2
                  img(src='./files/products/orion2.png')
                  p Students get a contextualized and adaptive learning experience that helps them navigate texts, create and organize their study plan, and participate in lively discussions with their instructor and the entire class.  Instructors collaborate with one another on course content—sharing the best curriculums and methodologies in an open repository.         

                .slide#orion3
                  img(src='./files/products/orion3.png')
                  p Students collaborate with their instructors and the entire class, which boosts student engagement and productivity.  Instructors can craft and share with their peers multi-faceted lesson plans that encourage students to showcase their ideas and thoughts while they learn.

        .product#edulastic
          .container
            .info
              h1 Edulastic
              span Adaptive learning is an educational method
              hr 
              .navigation      
                a
                  h3#bullet1-2.active Interactive Questions
                a
                  h3#bullet2-2 Actionable Data          
                a
                  h3#bullet3-2 Expert Assessments
                
              button(onclick="ga('send', 'event', { eventCategory: 'Learn More Button', eventAction: 'Click', eventLabel: 'Edulastic Learn More Button'});") Learn more
              
            .slider
              .laptop
              #slide-wrapper2
                .slide#orion1
                  img(src='./files/products/edulastic1.gif')
                  p Easily create your own PARCC and SBAC-like questions using more than 30 interactive question types, such as drag and drop, graphing, passage-based and mutipart questions.
                .slide#orion2
                  img(src='./files/products/edulastic2.png')
                  p Instant scoring saves grading time so you can monitor struggling students, make the right remediation moves and measure growth toward CCSS-mastery throughout the year.
                .slide#orion3
                  img(src='./files/products/edulastic3.png')
                  p Choose from our bank of more than 2,000 pre-built assessments, created by Edulastic experts and well-known publishers, or create your own and share with other teachers in your school or district.                    
    
    section#partners
      .container
        h1 Partners
        .logos
          .partner#willey
          .partner#barrons
          .partner#dummies
          .partner#mcgraw
          
    #my-timeline
    script(src='http://cdn.knightlab.com/libs/timeline/latest/js/storyjs-embed.js')
    script(src='js/timeline.js')
          

          
    section#jobs
        .container
          h1 We are hiring
          ul
            li Be in the forefront of the most innovative technology
            li Work with a passionate team with all kinds of interesting experience
            li Free lunches every day and weekends if you decide to work
            li Flexible work timings allow you to be happy and productive
            li Extra care for new mommies and daddies with maternity and paternity benefits
            li Plenty of learning, growth and development opportunities
          button(onclick="ga('send', 'event', { eventCategory: 'CTA Button', eventAction: 'Click', eventLabel: 'Find Jobs Button'});") Jobs

    .footer
      .header-wrap
        .container
          .logo
          .menu
            a Products
            a Partners
            a Company
            a Jobs
